{%  extends 'main/template.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}

<div class="features">
    <h1>Контакты</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et unde facilis culpa sequi dicta tempore possimus tempora similique. Aliquam illo possimus dolores sint aspernatur debitis est quia facere obcaecati quibusdam.</p>
    <p>Вы можете посмотреть мой профиль в <a href="https://github.com/jakha921">GitHub</a></p>
    <button class="btn btn-info">Просто нажми</button>
</div>

{% endblock %}